<html>
<head>
	<title>Bringit! - Edit Event</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
	<link href="css/create.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/edit-jq.js"></script>

  <div id="eventData" data-event="{{jsonify event}}" data-users="{{jsonify users}}"></div>

</head>
<body>
    <div class="container toolbar">
        <div class="toolbar-back"><a alt="back" href="/event?id={{event.id}}"><i class="material-icons">arrow_back</i></a></div>
        <div class="toolbar-title"><h2 class="page-title">Edit {{event.title}}</h2></div>
        <div class="toolbar-btn"><a alt="save event" href="/event?id={{event.id}}"><i class="material-icons">save</i></a></div>
    </div>  

    <div class="container">
        <form class="form-horizontal" id="event-form">
            <div class="form-group">
            <label for="inputName" class="col-sm-2 control-label">Event Name</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" value="{{event.title}}" id="inputName" placeholder="Anna's Sweet 16">
            </div>
            </div>
            <div class="form-group">
            <label for="inputEventType" class="col-sm-2 control-label">Event Type</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="inputEventType" value="{{event.type}}" placeholder="Birthday Party">
            </div>
            </div>
            <div class="form-group">
            <label for="inputDate" class="col-sm-2 control-label">Date</label>
            <div class="col-sm-6">
                <input type="date" class="form-control" id="inputDate" value="{{event.date}}">
            </div>
            </div>
            
        </form>

        <label for="peopleContainer" class="col-sm-2 form-aligned">People</label>
        <div class="well" id="peopleContainer">
            {{!-- Insert guests as they are added --}}
            Guests will appear here when you add them
        </div>

        <div class='btn-container'>
            <button id='invite-btn' type="button" class="btn btn-primary" data-toggle="modal" data-target="#addGuestsModal" aria-label="Add People"><i class="material-icons">group_add</i>Invite People</button>
        </div>
    </div>

    {{> selectPeopleModal}}

</body>
</html>
