<html>
<head>
	<title>Bringit! - Event Title</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
	<link href="css/event.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery.js"></script>
	<script src="js/bootstrap.js"></script>
	{{!-- <script src="js/event.js"></script> --}}
</head>
<body>
    <div class="container toolbar">
        <div class="toolbar-back"><a alt="back" href="/"><i class="material-icons">arrow_back</i></a></div>
        <div class="toolbar-title"><h2 class="page-title">{{title}}</h2></div>
        <div class="toolbar-btn"><a alt="point totals" href="/points"><i class="material-icons">people_alt</i></a></div>
        <div class="toolbar-btn"><a alt="event settings" href="/event-settings"><i class="material-icons">settings</i></a></div>
    </div>

<div id="items-list">
    {{#each categories}}
    <div class="card item-category">
    <div class="card-header" id="headingOne">
        <p class="h3">{{category-name}}</p>
      {{!-- <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Collapsible Group Item #1
        </button>
      </h5> --}}
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne">
      <div class="card-body">

          <table class="table">
            <tbody>
                {{#each items}}
                <tr>
                <td class="item-cell">{{item-name}}</td>
                <td class="item-cell">x{{quantity}}</td>
                <td class="item-cell">{{points}}pts</td>
                <td class="item-cell">{{#if claimed-by}}
                    {{#each claimed-by}}
                    <div class=avatar>{{getFirstLetter this}}</div>
                    {{/each}}
                    {{else}}<button type="button" class="btn btn-primary">Claim</button>{{/if}}</td>
                </tr>
                {{/each}}
            </tbody>
            </table>


        <a alt="event settings" href="#"><i class="material-icons">add</i></a>
      </div>
    </div>
  </div>
  {{/each}}
</div>

   
</body>
</html>
