<html>
<head>
	<title>Bringit!</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/index.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
	ga('create', 'UA-158820516-2', 'auto');
	ga('require', 'GTM-TLS38TB');
	ga('send', 'pageview');
	</script>

  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-158820516-1"></script>
</head>

<body>
	
	<h1 class="text-center logo">Bringit!</h1>
	<h3 class="text-center">My Events</h3>
	{{#each myEvents}}
	<a href="/event?id={{id}}">
	<div class="event card">
		<table> 
			<tr>
				<th><h3 class="event-title">{{title}}</h3></th>
				<th><h6>{{formatDate date}}</h6></th>
			</tr>

			<tr>
				<td><h6>{{#each guests}}{{getUserFullName this}}, {{/each}}</h6></td>		
			</tr>
			
		</table>
	</div>
	</a>
	{{/each}}

	<div id="add-btn-container"><button class="text-center btn btn-primary" id="add-btn"><a alt="add" href="/create"><i class="material-icons">add</i> Event</a></button></div>

	<h3 class="text-center">Invited Events</h3>
	{{#each invitedEvents}}
	<a href="/event?id={{id}}">
	<div class="event card">
		<table> 
			<tr>
				<th><h3 class="event-title">{{title}}</h3></th>
				<th><h6>{{formatDate date}}</h6></th>
			</tr>

			<tr>
				<td><h6>{{#each guests}}{{getUserFullName this}}, {{/each}}</h6></td>		
			</tr>
			
		</table>
	</div>
	</a>
	{{/each}}
	{{#if (emptyArray invitedEvents)}}
	<p class="event-inline">No upcoming event invitations</p>
	{{/if}}
</body>
</html>
